:root {
    /* Primary */
    --color-Very-Dark-Magenta: hsl(300, 43%, 22%);
    --color-Soft-Pink: hsl(333, 80%, 67%);

    /* Neutral */
    --color-Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --color-Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --color-White: hsl(0, 0%, 100%);

    /* font size */
    --font-size-11px: calc((11/16) * 1rem);
    --font-size-15px: calc((15/16) * 1rem);

    /* font weight */
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-700: 700;

    /* star */
    --star-size: calc((20/16) *1rem);
    --star-color: #fff;
    --star-background: #EF9546;
    --star-spacing: calc((3/16) * 1rem);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* border: 1px solid black; */
}

body {
    min-height: 100vh;
    font-size: var(--font-size-15px);
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* ----------------------------------------------------------------- */
/* reference article: */
/* https://css-tricks.com/five-methods-for-five-star-ratings/ */
/* I have also made some further changes */

.ratings__stars {
    --percent: calc(var(--rating) / 5 * 100%);

    display: inline-block;
    font-size: var(--star-size);
    font-family: Times;  /* make sure ★ appears correctly */
    line-height: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ratings__stars::before {
    content: '★★★★★';
    letter-spacing: var(--star-spacing);
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* ----------------------------------------------------------------- */
.attribution {
    font-size: var(--font-size-11px);
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}